<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Suite" parallel="false">
  <test name="Testng1">
 	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.praticemaven.TestngPractice"/>
    </classes>
  </test> <!-- Test --> 
  
  <test name="Testng2">
 	<parameter name="browserName" value="firefox"></parameter>
    <classes>
      <class name="com.praticemaven.TestngPractice"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Testng3">
 	<parameter name="browserName" value="internet"></parameter>
    <classes>
      <class name="com.praticemaven.TestngPractice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
